body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:black;
  font-family:Arial;
}
.login-box{
  background:rgba(0,0,0,0.8);
  padding:30px;
  width:280px;
  color:white;
  text-align:center;
}
input{
  width:100%;
  padding:10px;
  margin:10px 0;
}
button{
  width:100%;
  padding:10px;
  background:red;
  color:white;
  border:none;
}